.gradient-custom {
    /* fallback for old browsers */
    background: #cea8f7;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(207, 169, 247), rgb(120, 167, 248));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(193, 149, 240), rgb(99, 151, 240))
    }