<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose Movie</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-secondary">
  <input type="hidden" value="<%-uid %> " id="uid" name="uid" required><br>
  <main>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><%-uid %> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            </ul>
            <div class="text-end">
              <a href="logout">
                <button type="button" class="btn btn-outline-light me-2">
                  logout
                </button></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <h2 class="mb-2 text-uppercase me-2">Choose a movie</h2>
                <form action="/customer/booking" method="POST">
                          <input type="hidden" value="<%-uid%> " id="uid" name="uid" required><br>
                        
                  <div class="form-outline form-white mb-4">
                  <label for="mname" class="form-label">movie name:</label>
                  <select id="mname" name="mname" class="form-control form-control-lg">
                    <option value="AAA">AAA</option>
                    <option value="BBB">BBB</option>
                    <option value="CCC">CCC</option>
                  </select>
                </div>
                <div class="form-outline form-white mb-4">
                  <label for="mname" class="form-label">screening time:</label>
                  <select id="time" name="time" class="form-control form-control-lg">
                    <option value="9">9:00</option>
                    <option value="12">12:00</option>
                    <option value="17">17:00</option>
                  </select>
                </div>
                <div class="form-outline form-white mb-4">
                        <label for="seats" class="form-label">Total seats:</label>
                        <select id="snum" name="snum" class="form-control form-control-lg">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>
                      <div class="form-outline form-white mb-4">
                        <label for="date" class="form-label">date:</label>
                        <input type="date" id="date" name="date" class="form-control form-control-lg">
                      </div>
                      <div class="form-outline form-white mb-4">
                  <input type="submit" value="Add to cart" class="btn btn-sm btn-success">
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>    
</div>

</body>
</html>